:root {
    --gray-bg: #f0f0f0;
    --cinza: #87879D;
    --green-bg: #2d4238;
    --light-green-border: #638b78;
    --red-title: #df7373;
    --azul-marinho: #014D50;
    --verde-claro: #87c27e;
    --azul-claro: #78ABAD;
    --cinza-claro: #D9D9D9;
}