@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

header {
    background-image: url(../images/baku.jpg);
    background: var(--azul-marinho);
    background-size: cover;
    color: white;
    text-align: center;
    padding-block: 7.1rem;
    padding-inline: 2.9375rem;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    text-align: justify;
}